._1v5u{min-height:700px}
.sp_X-n3ZDCUfFi_2x{background-image:url(/rsrc.php/v3/yy/r/UAdpxliAkLP.png);background-size:97px 110px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_X-n3ZDCUfFi_2x.sx_55b6ee{background-position:0 -97px}.sp_X-n3ZDCUfFi_2x.sx_beee88{background-position:-13px -97px}.sp_X-n3ZDCUfFi_2x.sx_3e7141{width:96px;height:96px;background-position:0 0}

#bootloader_uf7fT{height:42px;}.bootloader_uf7fT{display:block!important;}