._6i_d{background-color:#f5f6f7}._6d59{margin-top:80px;width:536px}._6d5a{padding-bottom:24px;width:640px}._6d5b{border-bottom:1px solid #d8d8d8}
._6d5f{display:flex}._6d5g{color:#0084ff;margin-left:16px}

#bootloader_6iCo7{height:42px;}.bootloader_6iCo7{display:block!important;}